.cabecera{
    align-items:center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (max-width:768px) {
    .cabecera{
        padding: 0 1rem;
        justify-content: center;
        justify-content: space-around;
    }

    .cabecera__logo{
        display: none;
    }
}
